<main>
  <div class="burger">
    <h1>Eat Da Burger!</h1>
    <img src="/assets/img/burger.jpg" alt="burger image" id="burger-image">
  </div>

  <div class="add-burger">
    <h2>Add a Burger</h2>
    <form id="createBurger" class="button-size">
      <textarea type="text" name="burger" id="input"></textarea>
      <button type="submit">Save Burger!</button>
    </form>
  </div>

  <div class="left-container">
    {{#each burgers}}
      <p>
        {{#unless devoured}}
        {{this.burger_name}}
        <button data-burgerid="{{this.id}}" class="devour">Devour!</button>
        {{/unless}}
      </p>
    {{/each}}
  </div>
  <div class="right-container">
    {{#each burgers}}
      <p>
        {{#if devoured}}
        {{this.burger_name}}
        <button data-burgerid="{{this.id}}" class="delete">Delete</button>
        {{/if}}
      </p>
    {{/each}}
  </div>
</main>

<script type="text/javascript">

// changes burger devoured to true
$(".devour").on("click", function(event) {
    const id = $(this).data("burgerid");
    $.ajax("/api/burgers/" + id, {
        type: "PUT",
        devoured: true
    }).then(
        function() {
            console.log("update id ", id);
            location.reload();
        }
    );
});

// adds input burger
$("#createBurger").on("submit", function(event) {
    event.preventDefault();

    const newBurger = {
      burger_name: $("#createBurger [name=burger]").val().trim()
    };

    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new burger");
        location.reload();
      }
    );
});

// deletes burger
$(".delete").on("click", function(event) {
    const id = $(this).data("burgerid");
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        location.reload();
      }
    );
  });
</script>